@import "./reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/pink";

// .app {
//     font-size: var(--font-m);
//     background: var(--bg-color);
//     min-height: 100vh;
//     color: var(--primary-color);
//     font-family: var(--font-family-main);
// }
.app,
.app_modal {
    font-size: var(--font-m);
    color: var(--primary-color);
    font-family: var(--font-family-main);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px 20px 20px 45px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    width: 100%;
}
