.ArticleViewSelector {
    .notSelected {
        fill: var(--secondary-color);
    }
}

.ArticleViewSelectorRedesigned {
    display: flex;
    gap: 8px;

    .notSelected {
        color: var(--light-bg-redesigned);
    }
}

.icon {
    fill: var(--icon-redesigned);
}
