.Button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

.outline {
    padding: 10px 15px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: none;
}
