.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #34a334;
    --secondary-color: #427a42;
    --inverted-primary-color: #3a58b1;
    --inverted-secondary-color: #0449e0;
}
