.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #34a334;
    --secondary-color: #427a42;
    --inverted-primary-color: #3a58b1;
    --inverted-secondary-color: #0449e0;
    --skeleton-shadow: #3a58b1;
    --skeleton-color: #0449e0;
    --code-bg: #141313;
    --card-bg: #32323578;
    --listbox-bg: #0c0c62;
}
