.app.dark {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;

    --primary-color: #377037;
    --secondary-color: #2e442e;
    --inverted-primary-color: #3a58b1;
    --inverted-secondary-color: #0449e0;
}