.app_light_theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #3a58b1;
    --secondary-color: #0449e0;
    --inverted-primary-color: #377037;
    --inverted-secondary-color: #2e442e;
    --skeleton-shadow: #616861;
    --skeleton-color: #515551;
    --code-bg: #030403;
    --card-bg: #060620;
    --listbox-bg: #377037;
}
