.app_pink_theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #3c052f;
    --primary-color: #3c052f;
    --secondary-color: #fbf4f9;
    --inverted-primary-color: #a58eac;
    --inverted-secondary-color: #100218;
}
