.app_pink_theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #3c052f;
    --primary-color: #3c052f;
    --secondary-color: #694e62;
    --inverted-primary-color: #a58eac;
    --inverted-secondary-color: #100218;
    --skeleton-shadow: #a58eac;
    --skeleton-color: #754f8b;
    --code-bg: #b1b1b1;
    --card-bg: #61074c;
    --listbox-bg: #a0147f;
}
