.Button {
    cursor: pointer;
    color: var(--text-redesigned);
    display: flex;
    align-items: center;
    fill: var(--text-redesigned);

    &:hover {
        color: var(--accent-redesigned);

        .addonLeft svg, .addonRight svg {
            fill: var(--accent-redesigned);
        }
    }
}


.addonLeft, .addonRight {
    display: flex;
    margin: 5px;
}

.addonRight svg, .addonLeft svg {
    fill: var(--hint-redesigned);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.filled {
    background: var(--light-bg-redesigned);
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 34px;
}

.outline {
    background: none;
    border: 1px solid var(--icon-redesigned);
    padding: 8px 16px;
    border-radius: 34px;

    &:hover {
        border: 1px solid var(--accent-redesigned);
    }
}

.outline-error {
    background: none;
    border: 1px solid var(--cancel-redesigned);
    padding: 8px 16px;
    border-radius: 34px;

    &:hover {
        opacity: 0.7;
    }
}
.outline-success {
    background: none;
    border: 1px solid var(--save-redesigned);
    padding: 8px 16px;
    border-radius: 34px;

    &:hover {
        opacity: 0.7;
    }
}

.square {
    padding: 0;
}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.m {
    font: var(--font-m-redesigned);
}

.l {
    font: var(--font-l-redesigned);
}

.xl {
    font: var(--font-xl-redesigned);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}
